{% extends 'base.html' %}
{% block content %}

<h1>Register</h1>

<form action="/process-registration" method="POST">
    <label for="email">Email:</label>
    <input id="email" name="email" type="email">
    <label for="password">Password:</label>
    <input id="password" name="password" type="text">
    <label for="age">Age:</label>
    <input id="age" name="age" type="number">
    <label for="zipcode">Zipcode:</label>
    <input id="zipcode" name="zipcode" type="text">
    <input type="submit" value="Log In">
</form>


{% endblock %}